{{ include('base.html.twig') }}

<body>
        <div class="container">
            <h1>Edit {{ book.getBookName }} info:</h1>
            <div class="well">
                <form name="new-title" action="/books/{{ book.getBookId }}" method="post">
                    <input name="_method" type="hidden" value = "patch">
                    <input id="id" type="hidden" name="id" value="{{ book.getBookId() }}">
                    <label for="new-title">Edit book name</label>
                    <input id="new-title" type="text" name="new-title" class="form-control">

                    <button class="btn btn-info add" type="submit" name="button">Update</button>
                </form>

                <form class="" action="/update/{{ book.getBookId }}" method="post">
                    <label for="add-author">Add a co-author to {{ book.getBookName }}</label>
                    <input class="form-control" type="text" name="add-author">

                    <button class="btn btn-info add" type="submit" name="button">Update</button>
                </form>

                    <p>Author(s)</p>
                    <ul>
                        {% for author in authors %}
                            <li>{{ author.getAuthorName }}</li>
                        {% endfor %}
                    </ul>

            </div>
            <li><a  href="/">Home</a></li>
        </div>
    </body>
